# LangChain & LLM Orchestration
langchain==0.2.14
langchain-core==0.2.33
langchain_community==0.2.12
langchain_openai==0.1.22
langfuse==2.30.0

# Transformers
transformers==4.57.3
torch==2.7.1
torchvision==0.22.1

#Parsers
PyMuPDF        
Pillow         
pytesseract   
openai         # OpenAI Vision API 직접 호출용 (langchain_openai와 별도로 명시)

# Data Processing & ML Utilities
pandas
scikit-learn
datasets

# Parameter-Efficient Fine-Tuning (PEFT)
peft==0.17.1

# Environment & Config
python-dotenv

# Vector Store
faiss-cpu

# Visualization & Analysis
matplotlib

# Retriever
rank-bm25
sentence-transformers

